# 値が1パターンしかない列を削除する関数

In [1]:
import pandas as pd

# 仮想のデータフレームを作成する例
data = {'A': [1, 1, 1, 1],
        'B': [2, 3, 2, 2],
        'C': [3, 3, 3, 3],
        'D': [4, 5, 4, 4]}

df = pd.DataFrame(data)

df

   A  B  C  D
0  1  2  3  4
1  1  3  3  5
2  1  2  3  4
3  1  2  3  4

In [2]:
def drop_unique_columns(df):
    # 列ごとにユニークな値の数を数える
    value_counts = df.nunique()

    # ユニークな値の数が1つだけのindexを取得
    columns_to_drop = value_counts[value_counts == 1].index
    
    return df.drop(columns=columns_to_drop)

In [3]:
drop_unique_columns(df)

   B  D
0  2  4
1  3  5
2  2  4
3  2  4

In [4]:
df

   A  B  C  D
0  1  2  3  4
1  1  3  3  5
2  1  2  3  4
3  1  2  3  4