In [2]:
import lightgbm as lgb
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [3]:
# サンプルデータを作成
data = {
    'feature1': ['A', 'B', 'A', 'C', 'B', 'C'],
    'feature2': [1, 2, 2, 3, 1, 3],
    'target': [0, 1, 0, 1, 0, 1]
}
df = pd.DataFrame(data)

df

  feature1  feature2  target
0        A         1       0
1        B         2       1
2        A         2       0
3        C         3       1
4        B         1       0
5        C         3       1

In [4]:
LabelEncode = LabelEncoder()

df['feature1'] = LabelEncode.fit_transform(df['feature1'])

df

   feature1  feature2  target
0         0         1       0
1         1         2       1
2         0         2       0
3         2         3       1
4         1         1       0
5         2         3       1

In [9]:
# カテゴリ変数を指定
categorical_features = ['feature1', 'feature2']

# データを特徴量とターゲットに分割
X = df.drop('target', axis=1)
y = df['target']


# 訓練データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# LightGBMのデータセットを作成
train_data = lgb.Dataset(X_train, y_train, categorical_feature=categorical_features)

# LightGBMのハイパーパラメータを設定
params = {
    'objective': 'binary',
}

# LightGBMモデルをトレーニング
model = lgb.LGBMClassifier()

# fitするときに明示的にカテゴリ変数指定をすればよい！
model.fit(X_train, y_train, categorical_feature = ['feature1'])

# テストデータで予測
y_pred = model.predict(X_test)

# 予測結果を評価
y_pred_binary = [1 if p >= 0.5 else 0 for p in y_pred]
accuracy = accuracy_score(y_test, y_pred_binary)
print(f'Accuracy: {accuracy}')

Accuracy: 0.5

d:\Users\4regi\anaconda3\lib\site-packages\lightgbm\basic.py:2065: UserWarning: Using categorical_feature in Dataset.
  _log_warning('Using categorical_feature in Dataset.')

In [10]:
X_train

   feature1  feature2
5         2         3
2         0         2
4         1         1
3         2         3