参照
(https://qiita.com/DS27/items/1d0fe42fe2a406b7128a)

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb

In [2]:
# データを読み込む（例として仮想のデータを使用）
data = {
    'Category': ['A', 'B', 'A', 'B', 'C', 'A'],
    'Numeric1': [10, 20, 30, 40, 50, 60],
    'Numeric2': [5, 15, 25, 35, 45, 55],
    'Target': [0, 1, 0, 1, 1, 0]
}

df = pd.DataFrame(data)

df

  Category  Numeric1  Numeric2  Target
0        A        10         5       0
1        B        20        15       1
2        A        30        25       0
3        B        40        35       1
4        C        50        45       1
5        A        60        55       0

In [3]:
# カテゴリカル特徴量を整数値にエンコード
df['Category'] = df['Category'].astype('category').cat.codes

df

   Category  Numeric1  Numeric2  Target
0         0        10         5       0
1         1        20        15       1
2         0        30        25       0
3         1        40        35       1
4         2        50        45       1
5         0        60        55       0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  6 non-null      int8
 1   Numeric1  6 non-null      int64
 2   Numeric2  6 non-null      int64
 3   Target    6 non-null      int64
dtypes: int64(3), int8(1)
memory usage: 278.0 bytes

In [6]:
df = pd.DataFrame(data)

LabelEncode = LabelEncoder()
df["Category"] = LabelEncode.fit_transform(df["Category"])

df

   Category  Numeric1  Numeric2  Target
0         0        10         5       0
1         1        20        15       1
2         0        30        25       0
3         1        40        35       1
4         2        50        45       1
5         0        60        55       0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  6 non-null      int32
 1   Numeric1  6 non-null      int64
 2   Numeric2  6 non-null      int64
 3   Target    6 non-null      int64
dtypes: int32(1), int64(3)
memory usage: 296.0 bytes

In [10]:
# 特徴量とターゲットを分割
X = df.drop('Target', axis=1)
y = df['Target']

# 訓練データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# カテゴリカル特徴量の列インデックスを指定
cat_features = [0]

# DMatrixを作成する際にcategorical_featureパラメータを指定
dtrain = xgb.DMatrix(X_train, y_train)

# XGBoostハイパーパラメータを設定
params = {
    'objective': 'binary:logistic',
}

# モデルをトレーニング
model = xgb.train(params, dtrain)

# テストデータをDMatrixに変換
dtest = xgb.DMatrix(data=X_test, label=y_test)

# モデルで予測
y_pred = model.predict(dtest)

# 予測の精度を評価
accuracy = accuracy_score(y_test, (y_pred > 0.5).astype(int))
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.50

d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
d:\Users\4regi\anaconda3\lib\site-packages\xgboost\data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):