参照
(https://qiita.com/DS27/items/1d0fe42fe2a406b7128a)

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import catboost as cat

In [2]:
# データを読み込む（例として仮想のデータを使用）
data = {
    'Category': ['A', 'B', 'A', 'B', 'C', 'A'],
    'Numeric1': [10, 20, 30, 40, 50, 60],
    'Numeric2': [5, 15, 25, 35, 45, 55],
    'Target': [0, 1, 0, 1, 1, 0]
}

df = pd.DataFrame(data)

df

  Category  Numeric1  Numeric2  Target
0        A        10         5       0
1        B        20        15       1
2        A        30        25       0
3        B        40        35       1
4        C        50        45       1
5        A        60        55       0

In [3]:
df = pd.DataFrame(data)

LabelEncode = LabelEncoder()
df["Category"] = LabelEncode.fit_transform(df["Category"])

df

   Category  Numeric1  Numeric2  Target
0         0        10         5       0
1         1        20        15       1
2         0        30        25       0
3         1        40        35       1
4         2        50        45       1
5         0        60        55       0

In [11]:
# 特徴量とターゲットを分割
X = df.drop('Target', axis=1)
y = df['Target']

# 訓練データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



# DMatrixを作成する際にcategorical_featureパラメータを指定
dtrain = cat.Pool(X_train, y_train, cat_features=["Category"])

# モデルをトレーニング
model = cat.CatBoostClassifier()
model.fit(X_train,y_train, cat_features=["Category"],silent=True)

# テストデータをDMatrixに変換
dtest = cat.Pool(X_test, y_test, cat_features=["Category"])

# モデルで予測
y_pred = model.predict(X_test)

# 予測の精度を評価
accuracy = accuracy_score(y_test, (y_pred > 0.5).astype(int))
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 1.00