In [2]:
import pandas as pd
import numpy as np

In [47]:
# データフレームの作成
data = {'2019年': [46, np.nan, 37, np.nan],
        '2020年度': [47, np.nan, 38, 52],
        '2021年度': [np.nan, 30, 39, 53],
        '2022年度': [np.nan, 31, 40, 54]}

df = pd.DataFrame(data)
df

   2019年  2020年度  2021年度  2022年度
0   46.0    47.0     NaN     NaN
1    NaN     NaN    30.0    31.0
2   37.0    38.0    39.0    40.0
3    NaN    52.0    53.0    54.0

In [48]:
df.columns = [2019,2020,2021,2022]
df

   2019  2020  2021  2022
0  46.0  47.0   NaN   NaN
1   NaN   NaN  30.0  31.0
2  37.0  38.0  39.0  40.0
3   NaN  52.0  53.0  54.0

In [49]:
print(df.min(axis="columns"))
print()
print(df.idxmin(axis="columns"))

0    46.0
1    30.0
2    37.0
3    52.0
dtype: float64

0    2019
1    2021
2    2019
3    2020
dtype: int64

In [50]:
df["2022_age"] = df.min(axis="columns") + (2022 - df.idxmin(axis="columns"))
df

   2019  2020  2021  2022  2022_age
0  46.0  47.0   NaN   NaN      49.0
1   NaN   NaN  30.0  31.0      31.0
2  37.0  38.0  39.0  40.0      40.0
3   NaN  52.0  53.0  54.0      54.0