In [1]:
import pandas as pd

In [9]:
def search_columns_name(df,name):
    searched_columns = []

    for column in df.columns:
        if(name in column):
            searched_columns.append(column)
    
    return searched_columns

In [2]:
# データフレームの作成
data = {'2020年1月': [1, 2, 3, 4],
        '2020年2月': [5, 6, 7, 8],
        '2021年1月': [9, 10, 11, 12]}

df = pd.DataFrame(data)
df

   2020年1月  2020年2月  2021年1月
0        1        5        9
1        2        6       10
2        3        7       11
3        4        8       12

In [11]:
hoge = search_columns_name(df,"2020")
hoge

['2020年1月', '2020年2月']

In [12]:
df[hoge]

   2020年1月  2020年2月
0        1        5
1        2        6
2        3        7
3        4        8